PROD_DB_HOST=ipredencao-prod-db.cqon6ha0kufq.us-east-1.rds.amazonaws.com
PROD_DB_PORT=5432
PROD_DB_NAME=ipredencao_manager
PROD_DB_USER=ipredencao_admin
PROD_DB_PASSWORD=<sua-senha-aqui>

AWS_ACCESS_KEY_ID=<sua-access-key>
AWS_SECRET_ACCESS_KEY=<sua-secret-key>
